header.header
  nav.nav.nav--tours
    a.nav__el(href='/') 
      .header__logo
        img(src='/img/logo-white.png' alt='Menbere Tours logo')
    if showHomeNav
      .header__nav-links
        a.nav__el.nav__link(href='/#about') About
        a.nav__el.nav__link(href='/#services') Services  
        a.nav__el.nav__link(href='/#tours') Tours

  // CENTER SEARCH (only overview)
  if showSearch
    .header__search
      form.search-form(action='/' method='GET')
        input.search-input(
          type='text'
          name='search'
          placeholder='Search tours...'
          value= (typeof query !== 'undefined' ? query : '')
        )
        button.search-btn(type='submit')
          svg
            use(xlink:href='/img/icons.svg#icon-search')

  nav.nav.nav--user
    if user
      a.nav__el.nav__el--logout Log out
      a.nav__el(href='/me')
        img.nav__user-img(class=user.role === 'admin' ? 'admin-ring' : '' src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
        span= user.name.split(' ')[0]
    else
      a.nav__el(href='/login') Log in
      a.nav__el.nav__el--cta(href='/signup') Sign up
