extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset your password
      p.ma-bt-md Enter your new password below.
      form.form.form--reset-password#reset-password
        .form__group
          label.form__label(for='password') New password
          input#password.form__input(
            type='password',
            name='password',
            placeholder='••••••••',
            required,
            minlength='8'
          )
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Confirm password
          input#passwordConfirm.form__input(
            type='password',
            name='passwordConfirm',
            placeholder='••••••••',
            required,
            minlength='8'
          )
        .form__group.form__group--horizontal
          button.btn.btn--green(type='submit') Reset password
          a.btn-text(href='/login') Back to login
